@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

body {
    font-family: "Titillium Web", sans-serif;
    background: linear-gradient(to left top, #ee3d4f, rgb(194, 183, 183)) fixed;
  }
  
  main {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 250px 375px;
    grid-template-rows: 200px 1fr 1fr;

  }
  
  .image {
    border: 10px dotted white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .cat {
    height: 200px;
    width: 200px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 50px;
  }

  .horse { 
    height: 250px;
    width: 250px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .dog {
    height: 375px;
    width: 375px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  
  .selected {
    animation-duration: 0.5s;
    animation-name: shake;
  }
  
  .audio {
    display: none;
  }
  
  header {
    background-color: #ee3d4f;
    height: 110px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
  }
  
  h1 {
    font-family: Rye;
    color: white;
    font-size: 3rem;
  }
  
  